/*
@font-face {
    font-family: "Otomanopee One";
    src: url("../fonts/OtomanopeeOne-Regular.ttf")
}
@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.ttf")
}
*/

header{
    display: grid;
    grid-template-columns: 7% 40% 20% 1fr;
    margin-bottom: 15px;
}
/* LOGO */
.header-logo_container{
    display: flex;
    align-items: center;
    height: 80px;
}

header .link-logo{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

/* CATEGORY */
.header-nav{
    display: flex;
    align-items: center;
}

.header-nav_link{
    transition: 0.3s;
    width: 100%;
    font-family: Otomanopee One, sans-serif;
    text-align: center;
    padding: 15px 5px;
    color: #D83A56;
    font-size: 1.1rem;
    text-decoration: none;
}

.header-nav_link:hover{
    color: #ffffff;
}

/* BORDURE BOUTON & ANIMATION COULEUR CATEGORIE */
.entertainment {
    border-bottom: #B4AEE8 4px solid;
}
.entertainment:hover{
    background: #B4AEE8;

}
.general{
    border-bottom: 4px solid #98DED9;
}
.general:hover{
    background: #98DED9;
}
.science{
    border-bottom: 4px solid #9DAD7F;
}
.science:hover{
    background: #9DAD7F;
}
.technology{
    border-bottom: 4px solid #B4846C;
}
.technology:hover{
    background: #B4846C;
}
.health{
    border-bottom: #185ADB 4px solid;
}
.health:hover{
    background: #185ADB;
}
.business{
    border-bottom: #1B1A17 4px solid;
}
.business:hover {
    background: #1B1A17;
}
.sports{
    border-bottom: #9FE6A0 4px solid;
}
.sports:hover {
    background: #9FE6A0;
}

/* PARTIE INVITE */

.user-subscribe_link{
    text-decoration: none;
    color: #ffffff;
    font-size: 0.9rem;
    text-transform: uppercase;
    padding: 15px;
    background: rgba(216, 58, 86, 0.87);
    display: flex;
    align-self: center;
    justify-self: center;
    transition: 0.5s;
    border-radius: 5px;
    font-family: Otomanopee One, sans-serif;
}

.user-subscribe_link:hover {
    background: #215f00;
    padding: 20px;
}

.user-connexion_container{
    display: grid;
    grid-template-columns: 90% 10%;
}

.user-connexion_form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.user-connexion_form input{
    margin-top: 6px;
    height: 26px;
    box-shadow: 1px 0 0 #767676, -1px 2px 2px #737272;
    width: 70%;
    outline: none;
}

.user-connexion_btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-connexion_img {
    width: 40px;
    transition: 0.3s;
    cursor: pointer;
}

.user-connexion_img:hover{
    width: 50px;
}

/* PARTIE UTILISATEUR */
.user-board_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.userName_text{
    font-weight: bold;
    font-size: 18px;
    color: #D83A56;
    margin-bottom: 3px;
}

.user-profil_link{
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
    background: #D83A56;
    padding: 5px 10px;
    border-radius: 5px;
}

.user-panel_container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
}

.user-picture_img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: #000000 1px solid;
}


/* MEDIA QUERIES */

.small-connexion_container,.small-category_icon, .responsive-dropdown_close, .responsive-dropdown_open {
    display: none;
}

@media screen and (max-width: 1400px) {
    /* Bloc utilisateur non connecté */
    header {
        grid-template-columns: 20% 1fr 30%;
        margin-bottom: 0;
    }

    .header-nav {
        display: none;
    }

    .header-logo_container {
        grid-column: 1;
    }

    .small-category_icon, header .link-logo{
        height: 70px;
        width: 70px;
        display: flex;
    }

    .responsive_dropdown{
        grid-row: 2;
        padding: 0;
        margin: 0;
        width: 100vw;
        flex-direction: column;
    }

    .responsive-dropdown_open{
        display: flex;    
    }

    .responsive-dropdown_close{
        display: none;
    }

    .responsive-text_container{
        border-bottom: inherit;
        display: flex;
        justify-content: center;
        margin: 2px 0;
    }

    .dropdown-text{
        color: #2a2929;
        font-weight: bold;
        font-style: italic;
        font-size: 20px;
        padding: 15px 0;
        width: 100%;
        text-align: center;
        border: 0;
    }

    .user-connexion_img {
        width: 35px;
    }

    .user-connexion_img:hover {
        width: 40px;
    }

    .user-connexion_container {
        grid-column: 2;
        grid-row: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70%;
    }

    .user-connexion_container{
        width: auto;
    }

    .user-connexion_form input {
        margin: 0 5px;
        width: auto;
    }

    .general_responsive, .general:hover{
        background-color: #d2f1ef;
    }

    .business_responsive, .business:hover {
        background: #81aefd;
    }

    .science_responsive, .science:hover{
        background: #e7ffb9;
    }

    .technology_responsive, .technology:hover{
        background: #8ecdae;
    }

    .health_responsive, .health:hover{
        background: #fcbb9b;
    }

    .sports_responsive, .sports:hover{
        background: #b0fdb2;
    }

    .entertainment_responsive, .entertainment:hover{
        background: #d6d1fd;
    }

    .header-nav_link {
        font-size: 1rem;
    }
}

@media screen and (max-width: 900px){
    /* Bloc utilisateur non connecté */
    .user-connexion_container{
        display: none;
    }

    header{
        grid-template-columns: 20% 1fr 20%;
    }

    .small-connexion_container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .small-category_icon, header .link-logo, .small-connexion_icon{
        height: 60px;
    }

    .user-connexion_form,  .user-connexion_form input{
        width: 100%;
    }

    /* Bloc Utilisateur connecté */
    .user-board_container{
        grid-column: 2;
    }

    .user-picture_img{
        height: 50px;
        width: 50px;
    }
}

@media screen and (max-width: 540px) {
    /* Bloc utilisateur connecté */
    header{
        grid-template-columns: 25% 1fr 20%;
    }

    .user-subscribe_link{
        padding: 10px;
    }

    .user-subscribe_link:hover{
        padding: 15px;
    }

    .small-category_icon, header .link-logo, .small-connexion_icon{
        width: 50px;
        height: 45px;
    }

    .user-subscribe_link, .user-profil_link, .userName_text  {
        font-size: 0.9rem;
    }

    .user-connexion_form{
        width: auto;
    }

    .user-connexion_form input{
        height: 15px;
        width: 80%;
    }
}