.container-filter_nbrPerPage label{
    font-family: Open-Sans, serif;
    color: #D83A56;
    font-size: 1.1rem;
    margin-bottom: 5px;
}

.container-list{
    display: flex;
    align-items: center;
    border: #E4EFE7 1px solid;
    height: auto;
    margin-top: 12px;
    border-radius: 5px;
    width: 70%;
    position: relative;
}

.container-list:hover{font-weight: bold;}


.container-list .article-title{
    text-decoration: none;
    font-size: 1.1rem;
    font-family: Open-Sans, serif;
    color: #D83A56;
}

.article-title{
    margin-left: 30px;
    width: 70%;
}

.remove-link{
    cursor: pointer;
    font-size: 0.9rem;
    color: #D83A56; 
    position: absolute;
    right: 10px;
    top: 5px;
    border: none;
    background-color: transparent;
}

.container-list img{
    border-radius: 5px 0 0 5px;
    width: 140px;
    height: 100px;
}

.btn-retour_text{
    transition: 0.3s;
    text-transform: uppercase;
    padding: 12px 15px;
    background: #D83A56;
    margin: 10px;
    border-radius: 5px;
    font-size: 1rem;
    font-family: Otomanopee One, sans-serif;
    color: #ffffff;
    text-decoration: none;
}

.btn-retour_text:hover{
    padding: 12px 30px;
}


/* MEDIA QUERIES */

@media screen and (max-width: 1050px) {
    .container-list{
        width: 100%;
        height: auto;
        position: relative;
    }

    .container-list img{
        height: 70px;
        width: 100px;
    }

    .container-list .article-title, .container-list .remove-link{
        margin-left: 15px;
        font-size: 1.2rem;
    }


    .btn-retour_text{
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 720px){
    .container-list .article-title{
        width: 60%;
    }
}

@media screen and (max-width: 550px) {
    .container-list:hover{
        font-weight: normal;
    }

    .container-list .article-title{
        font-size: 1rem;
        padding: 5px;
        margin: 0;
        width: 100%;
    }

    .remove-link{display:none;}

    .container-list img{
        height: 100%;
        margin: auto 0;
    }

    .btn-retour_text:hover{
        padding: 12px 15px;
    }
}