/* PARTIE UTILISATEUR */
.user-board_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.userName_text{
    
    font-size: 16px;
    color: #D83A56;
    margin-bottom: 3px;
    font-family: Otomanopee One, sans-serif;

}

.deconnect-btn{
    text-decoration: none;
    font-size: 0.9rem;
    
    color: #ffffff;
    background: #D83A56;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all .3s;
    font-family: Otomanopee One, sans-serif;
    ;
}

.deconnect-btn:hover{
    padding: 8px 15px;
}

.user-panel_container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
}

.user-picture_img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: #000000 1px solid;
}

@media screen and (max-width: 900px){
    .user-board_container{
        grid-column: 2;
    }

    .user-picture_img{
        height: 50px;
        width: 50px;
    }
}

@media screen and (max-width: 600px) {
    .deconnect-btn, .userName_text  {
        font-size: 0.9rem;
    }
}